<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Funerária Silêncio - Sobre Nõs</title>
 <script src="https://unpkg.com/lucide@latest"></script>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Delius&family=Delius+Swash+Caps&family=Eagle+Lake&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Passions+Conflict&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&family=Shizuru&family=Staatliches&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Delius&family=Delius+Swash+Caps&family=Eagle+Lake&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Lacquer&family=League+Script&family=Mystery+Quest&family=Passions+Conflict&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rock+3D&family=Shizuru&family=Staatliches&display=swap"
    rel="stylesheet">
  <!-- Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <header class="relative bg-center bg-cover w-full h-34 px-10 flex items-center rounded-lg border-b border-black">
    <!--Imagem )-->
    <img src="img/1000036229.jpg" alt="Logo" class="h-32 object-contain z-10" />

    <!-- Links centralizados no header -->
    <nav class="absolute left-1/2 transform -translate-x-1/2 text-4xl flex space-x-6"
      style="font-family: 'Great Vibes', cursive;">
      <a href="/" class="transition-colors duration-300 hover:text-gray-700 active:text-black">Home</a>
      <a href="/planos" class="transition-colors duration-300 hover:text-gray-700 active:text-black">Planos</a>
      <a href="/placas" class="transition-colors duration-300 hover:text-gray-700 active:text-black">Placas</a>
      <a href="/caixoes" class="transition-colors duration-300 hover:text-gray-700 active:text-black">Caixões</a>
      <a href="/sobrenos" class="transition-colors duration-300 hover:text-gray-700 active:text-black">Sobre Nós</a>
    </nav>

  </header>
  <section class="bg-gray-100 py-6">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-3 p-3">
      <h1 class="text-3xl font-semibold mb-4 p-14">Nossos Planos</h1>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"
        style="font-family: 'Mystery Quest', cursive;">

        <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-left">Plano Essencial</h2>
        <ul class="text-gray-800 text-left text-2xl">
          <li>Atendimento 24h</li>
          <li>Urna padrão</li>
          <li>Ornamentação simples</li>
          <li>Traslado local</li>
          <li>Apoio documental básico</li>
        </ul>
      </div>
     <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"
        style="font-family: 'Mystery Quest', cursive;">
        <h2 class="text-2xl font-semibold text-gray-800 mb-4 text-left">Plano Completude</h2>
        <ul class="text-gray-800 text-left text-2xl">
          <li>Urna personalizada</li>
          <li>Ornamentação especial</li>
          <li>Sala de velório exclusiva</li>
          <li>Traslado regional</li>
          <li>Registro em cartório</li>
          <li>Cerimonial de homenagem</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="bg-gray-100 py-6">
  <div class="grid grid-cols-1 md:grid-cols-5 gap-8 text-center">
    <h1 class="text-3xl font-semibold mb-4 p-14">Detalhes dos Planos</h1>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"  style="font-family: 'Mystery Quest', cursive;">
       <i data-lucide="map-pin" class="w-10 h-10 text-brand-dourado mb-4"></i>
      <h3 class="text-xl font-semibold  text-gray-800 mb-2">Translado</h3>
      <p>Realizamos o transporte do corpo com total respeito e segurança.
        Nossa equipe cuida de toda a logística, garantindo pontualidade e discrição em cada etapa do trajeto.</p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"  style="font-family: 'Mystery Quest', cursive;">
 <i data-lucide="flower-2" class="w-10 h-10 text-brand-dourado mb-4"></i>
      <h3 class="text-xl font-semibold  text-gray-800 mb-2">Coroa de Flores</h3>
      <p>Incluímos uma coroa de flores personalizada, feita com arranjos frescos e selecionados, como forma de homenagem
        e carinho. Você pode escolher o estilo e as mensagens que deseja incluir.</p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"  style="font-family: 'Mystery Quest', cursive;">
       <i data-lucide="user" class="w-10 h-10 text-brand-dourado mb-4"></i>
      <h3 class="text-xl font-semibold  text-gray-800 mb-2">Preparação do Corpo</h3>
      <p>Contamos com profissionais especializados na preparação técnica e estética do corpo, assegurando dignidade e
        cuidado. O processo é feito com atenção aos detalhes e respeito às tradições da família.</p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-md hover:shadow-lg transition"  style="font-family: 'Mystery Quest', cursive;">
       <i data-lucide="headset" class="w-10 h-10 text-brand-dourado mb-4"></i>
      <h3 class="text-xl font-semibold  text-gray-800 mb-2">Atendimento 24h</h3>
      <p>Estamos disponíveis 24 horas por dia, todos os dias da semana, para oferecer suporte imediato. Seja para
        esclarecimento de dúvidas, acionamento de serviços, nossa equipe está sempre pronta
        para ajudar.</p>
    </div>
  </div>
</section>

















  <section class="bg-gray-100 py-10">
    <div class="text-center space-y-4">
      <h2 class="text-2xl font-semibold">Fale Conosco</h2>
      <p class="mb-7" Estamos disponíveis 24h para atendê-lo com empatia e agilidade.</p>
        <a href="tel:+5541666666666"
          class="bg-black text-white px-6 py-3 rounded hover:bg-slate-600 transition mt-10">Ligar Agora</a>
    </div>
  </section>

  <!-- RODAPÉ -->
  <footer class="place-items-center mt-10 text-center">
    <h1>© 2025 Funerária Silêncio. Todos os direitos reservados.</h1>
    <div class="flex gap-3 justify-center mt-2">
      <a href="#" class="text-blue-600 hover:underline" title="WhatsApp"><i data-feather="message-circle"></i>
        WhatsApp</a>
      <a href="#" class="text-blue-600 hover:underline" title="Facebook"><i data-feather="facebook"></i> Facebook</a>
      <a href="#" class="text-blue-600 hover:underline" title="Instagram"><i data-feather="instagram"></i> Instagram</a>
    </div>
    <br><br>
  </footer>

  <!-- Ativando ícones Feather -->
  <script>
    feather.replace();
  </script>
 <script>lucide.createIcons()</script>
</body>

</html>